//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 17 09:42:37 2018
//! **************************************************************************

SCHEMATIC START;
COMP "x" LOCATE = SITE "P191" LEVEL 1;
COMP "a" LOCATE = SITE "P63" LEVEL 1;
COMP "b" LOCATE = SITE "P67" LEVEL 1;
SCHEMATIC END;

